body{

    font-family: Arial, Helvetica, sans-serif;
    background-image: url(img/abstract-futuristic-galaxy-space-view-d1cfjmhe3exao298.jpg);
    
}

.box{
    position: absolute;
    top: 55%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    border-radius: 15px;
    width: 20%;
    color: white;
}

fieldset{
    border: 3px solid dodgerblue;
}

legend{
    border: 2px solid dodgerblue ;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
    color: white;
}

.inputBox{
    position: relative;
    display: flex;

}

.inputUser{
    
    background: none;
    border: none;
    border-bottom: 1px solid white ;
    outline: none;
    color: white;
    font-size: 12px ;
    width: 100%;
    letter-spacing: 2px;

}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0%;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: dodgerblue;
} 

#dataNascimento{
    border: none;
    padding: 8px;
    border-radius:10px ;
    outline: none;
    font-size: 15px;
    color: white;
}

#submit{
    background-image: linear-gradient(to right, rgb(48, 82, 192), rgb(139, 15, 129) );
    width:100% ;
    border: none;
    padding: 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
}
#submit:hover{
    background-image: linear-gradient(to right, rgb(19, 180, 113), rgb(86, 191, 252));

}

.sexo{
    
    display: inline-block;
    margin-left: 0px;
}

.inputRadio{
    display: inline-block;
    position: relative;

}

.labelRadio{
    display: inline-block;
    vertical-align: middle;
    
}

